$ie7: false !default;
$ie8: true !default;
$responsive: true !default;

$font-georgia: Georgia, serif;
$font-times: "Times New Roman", Times, serif;
$font-helvetica: "Helvetica Neue", Helvetica, sans-serif;
$font-lucida: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", sans-serif;
$font-verdana: Verdana, sans-serif;
$font-arial: Arial, sans-serif;
$font-tahoma: Tahoma, "Helvetica Neue", sans-serif;
$font-monospace: Consolas, Menlo, "Courier New", monospace;

$default-font-size: 16px;
$base-font-size: 0.875em; // 14px
$base-line-height: 1.4;
$base-color: #222;

$mq: (
  palm: '(max-width: 568px)',
  lap: '(min-width: 569px) and (max-width: 1023px)',
  portable: '(max-width: 1023px)',
  desk: '(min-width: 1024px)',
  wide: '(min-width: 1440px)',
  hdpi: '(-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)'
);

$breakpoints: ('palm' 'lap' 'portable' 'desk' 'wide');

$grid-gutter-width: 20px;
$grid-gutter-height: 20px;

// Sprites configuration
$default-sprite-separator: '--';
//$sprites: sprite-map('sprites/*.png', $spacing: 5px);
//$sprites_2x: sprite-map('sprites_2x/*.png', $spacing: 5px);
