/**
 * Base styles: opinionated defaults.
 */

// http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
  @include box-sizing(border-box);
}

// A better looking default horizontal rule
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #ccc;
  margin: 1em 0;
  padding: 0;
}

// Remove the gap between images and the bottom of their containers: h5bp.com/i/440
img {
  vertical-align: middle;
}

// Allow only vertical resizing of textareas.
textarea {
  resize: vertical;
}

html {
  background: #fff;
  font-family: $base-font-family;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  color: $base-text-color;
}

@include establish-baseline;

// Set links color (normal, ?hover, ?active, ?visited, ?focus)
a {
  @include link-colors(blue, lighten(blue, 30%));
}

// Set titles sizes and margins
h1 {
  // Set the font-size and line-height while keeping a proper vertical rhythm
  @include adjust-font-size-to($h1-font-size);

  // Set 1 unit of vertical rhythm on the top and bottom margins
  @include leader(1, $h1-font-size);
  @include trailer(1, $h1-font-size);
}

h2 {
  @include adjust-font-size-to($h2-font-size);
  @include leader(1, $h2-font-size);
  @include trailer(1, $h2-font-size);
}

h3 {
  @include adjust-font-size-to($h3-font-size);
  @include leader(1, $h3-font-size);
  @include trailer(1, $h3-font-size);
}

h4 {
  @include adjust-font-size-to($h4-font-size);
  @include leader(1, $h4-font-size);
  @include trailer(1, $h4-font-size);
}

h5 {
  @include adjust-font-size-to($h5-font-size);
  @include leader(1, $h5-font-size);
  @include trailer(1, $h5-font-size);
}

h6 {
  @include adjust-font-size-to($h6-font-size);
  @include leader(1, $h6-font-size);
  @include trailer(1, $h6-font-size);
}

/**
 * States.
 */
.is-hidden {
  display: none !important;
}
