$ie7: false !default;
$ie8: true !default;
$responsive: true !default;

$font-georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$font-verdana: Verdana, Arial, sans-serif;
$font-arial: Arial, Verdana, sans-serif;
$font-tahoma: Tahoma, Verdana, Arial, sans-serif;
$font-monospaced: Consolas, Menlo, "Bitstream Vera Sans Mono", Courier, monospace;

// used only for calculations
$default-font-size: 16px;

// 14px
$base-font-size: 0.875em;
$base-line-height: 1.4;
$base-color: #222;

$mq: (
  palm: '(max-width: 568px)',
  lap: '(min-width: 569px) and (max-width: 1023px)',
  portable: '(max-width: 1023px)',
  desk: '(min-width: 1024px)',
  wide: '(min-width: 1440px)',
  hdpi: '(-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)'
);

$breakpoints: ('palm' 'lap' 'portable' 'desk' 'wide');

$grid-gutter-width: 20px;
$grid-gutter-height: 20px;
